name: aws-cdk-app

on:
  pull_request:
      branches: [ main, master ]
      types: [opened, synchronize, reopened]

  push:
    branches:
      - main
      - master

  workflow_dispatch:

jobs:
  deploy:
    name: Deploy to AWS
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.X

      - name: Install AWS CDK Globally
        run: npm install -g aws-cdk

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: 'us-east-1'

      - name: Install Dependencies
        working-directory: aws-cdk-app
        run: npm run prep

      - name: Build Project
        working-directory: aws-cdk-app
        run: npm run build

      - name: CDK Bootstrap (Only first time)
        working-directory: aws-cdk-app
        run: npm run bootstrap

      - name: CDK Deploy
        working-directory: aws-cdk-app
        run: npm run deploy
